body{
    background-color:hsl(217, 54%, 11%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.equilibrium{
    background-color:  hsl(216, 50%, 16%);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    height: 85vh;
    width: 22vw;
}
.equi{
    display: flex;
    flex-direction: column;
}
.equinumber{
    margin-top: 15px;
    color: white;
    font-size: 25px;
    font-size: 700;
}
.equitext{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}
.coin{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.eth{
    color:hsl(178, 100%, 50%) ;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.ethereum{
    font-size: 18px;
    font-weight: 600;

}
.CLOCK{
    margin-left: 155px;
    color: hsl(215, 51%, 70%) ;
    display: flex;
    flex-direction: row; 
    margin-top: 15px;
}
.days{
    margin-left: 4px;
    font-size: 15px;
    font-weight: 400; 
}
.line{
    margin-top: 15px;
    width: 22vw;
    height: 0.1vh;
    background-color:hsl(215, 32%, 27%) ;
}
.footer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;

}
.text{
    margin-top: 10px;
    font-size: 15px;
    color:hsl(215, 51%, 70%) ;
    font-weight: 400;
    margin-left: 10px;
}
.textcompletion{
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.attribution{
    margin-top: 40px;
}